.pageWrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* background-color: rgb(242, 238, 238); */
  background-image: url("../../assets/images/abstract-background.jpg");
}

.content {
  flex: 1 1;
  margin: auto;
}
