.form {
  display: flex;
  flex-direction: column;
  width: 400px;
  gap: 1rem;
  margin: auto;
  border: 1px rgb(209, 209, 209) solid;
  border-radius: 10px;
  box-shadow: 0px 1px 5px 0px rgba(212, 196, 196, 0.75);
  -webkit-box-shadow: 0px 1px 5px 0px rgba(212, 196, 196, 0.75);
  -moz-box-shadow: 0px 1px 5px 0px rgba(212, 196, 196, 0.75);
  padding: 2rem;
  padding-bottom: 5rem;
  margin-top: 3rem;
  background-color: rgb(250, 249, 249);
}

.form h2 {
  color: rgb(24, 96, 169);
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.form input {
  padding: 0.5rem;
  font-size: 0.9rem;
  border: 1px grey solid;
  border-radius: 10px;
}

.form button {
  padding: 0.5rem;
  font-size: 0.9rem;
  border: 1px grey solid;
  background-color: rgb(27, 117, 208);
  color: whitesmoke;
  border-radius: 10px;
  margin-top: 0.5rem;
  transition: 0.3s;
  cursor: pointer;
}

.form button:hover {
  background-color: rgb(24, 103, 183);
}

.loginLink {
  text-align: center;
  font-size: 0.9rem;
  margin-top: 2rem;
}

.errorMessage {
  color: rgb(194, 17, 17);
}
